
/* Colors */
$color_pink: rgb(211, 79, 120);
$color_green: rgb(82, 167, 176);

/*  */
$screen_small: 800px;

/* Gaps */
$gap: 6px;
$gap_s: 0.5 * $gap;
$gap_m: 2 * $gap;
$gap_l: 4 * $gap;
$gap_xl: 8 * $gap;
