@import 'vars';

body {
	margin: 0;
	padding: 0;
}

.v {
	background-color: #FFF;
	height: 100%;
	left: 100%;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	transition: all 0.6s ease-in-out;
	width: 100%;
}

#map {
	height: 70%;
	width: 100%;
	border: 25px solid transparent;
	border-image: url(img/border.png) 40 repeat;
	border-width: 20px 0 20px 0;
}

body.overlay .v {
	left: 0;
}
/**
 * Outer container
 */
.logo {
	background: linear-gradient(135deg, $color_pink 0%, $color_green 100%);
	height: 70%;
	margin: 0;
	padding: 0;
}

/**
 * Logo frame
 */
.logo__frame {
	background-image: url(/img/bg.png);
	background-size: 67px 72px;
	height: 100%;
	text-align: center;
	white-space: nowrap;
	width: 100%;

	img {
		border-radius: 50%;
		max-height: 80%;
		max-width: 80%;
		vertical-align: middle;
	}
}
.logo__frame:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/**
 * Menuboards List
 */
.menuboards,
footer,
.footer__gap {
	display: none;
}

@media screen and (max-width: $screen_small) {
	// .logo {
	// 	height: 100%;
	// }
	.menuboards {
		display: block;
		border: 25px solid transparent;
		border-image: url(img/border.png) 40 repeat;
		border-width: 0 0 20px 0;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			width: 100%;
			height: 30%;
			min-height: 200px;
			padding: 0;
			margin: 0;
			border: 25px solid transparent;
			border-width: 20px 0 0 0;
			border-image: url(img/border.png) 40 repeat;
			background-size: cover;
			background-position: center center;
		}
	}

	footer {
		display: block;
		height: 120px;
		color: $color_green;
		font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
		font-size: 22px;
		font-weight: 600;
		padding: 20px 0 16px 16px;
		background-image: url(/img/footer-hero.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom right;

		h3 {
			margin: 0 0 16px 0;
			font-size: 26px;
		}
	}

	.footer__gap {
		display: block;
		height: 40px;
	}
}

// .desktop ul {
// 	position: absolute;
// 	top: -20px;
// 	right: -20px;
// 	bottom: -20px;
// 	left: -20px;
// }
// .desktop li {
// 	position: absolute;
// 	width: 0;
// 	height: 100%;
// 	margin: 0 50%;
// 	-webkit-transform: rotate(-360deg);
// 	transition: all 0.8s ease-in-out;
// }
