<html>
<head>
	<title itemprop="name">Rolling Sweets</title>
	<meta charset="UTF-8" />
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />
	<style>{{= it.style }}</style>
</head>
<body>
	<div class="o">
		<div class="f">
			<img alt="Rolling Sweets" src="/img/logo.png" />
		</div>
	</div>
	<ul class="l">
		<li class="clickable" data-href="/chocko-kebab" style="background-image: url(img/chockokebab.jpg)"></li>
		<li class="clickable" data-href="/lody-tajskie" style="background-image: url(img/lody-tajskie.jpg)"></li>
		<li class="clickable" data-href="/churritos" style="background-image: url(img/churritos.jpg)"></li>
		<li class="clickable" data-href="/smoothies" style="background-image: url(img/smoothies.jpg)"></li>
		<li class="clickable" data-href="/gofry" style="background-image: url(img/gofry.jpg)"></li>
		<li class="clickable" data-href="/kawa" style="background-image: url(img/kawa.jpg)"></li>
		<li class="clickable" data-href="/soki" style="background-image: url(img/soki.jpg)"></li>
		<li class="clickable" data-href="/shakes" style="background-image: url(img/shakes.jpg)"></li>
	</ul>
	<footer>
		<h3>Galeria Krupówki<br />
		drugie piętro</h3>
		ul. Krupówki 40
	</footer>
	<div class="v"></div>
	<script type="text/javascript">{{= it.script }}</script>
</body>
</html>
